.calculation-title {
    text-align: center;
    padding: 16px;
    font-size: 20px;
    background-color: #20899f;
    color: white;
    font-weight: 600;
    padding: 8px;
}

.category {
    border: 2px solid gray;
    font-weight: 600;
    padding: 8px;
}

.border-table {
    border-color: gray;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}