.input-group-addon{
    background-color:transparent;
    border:none;
    border-bottom:1px solid #ccc;
    color:#aaa;
  }

.calculator-title {
  // margin: 12px;
    background: #20899f;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}